<div class="window">
    <aside class="conv-list-view">
        <header class="conv-list-view__header">
            <div class="cf">
                <ul class="close-button-list">
                    <li ng-click="logout()" class="mac-close"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </header>
        <ul class="coolscrolbar conv-list" ng-cloak="true">
            <li ng-repeat="companion in companions">
                <div class="status">
                    <figure class="status__avatar">
                        <img src="{{ companion.photo }}"/>
                    </figure>
                    <div class="meta">
                        <div class="meta__name">{{ companion.name }}</div>
                    </div>
                </div>
            </li>
        </ul>
    </aside>
    <section class="chat-view">
        <section class="message-view coolscrolbar">
            <div class="message" ng-repeat="message in messages">
                <div message text="message.msg" img="companions[message.author].photo" owner="message.author == currentUser.name"></div>
            </div>
        </section>


        <footer class="chat-view__input">
            <div class="input">
                <input type="text" name="msg" input-enter="sendMsg(msg)" ng-model="msg" />
            </div>
            <div class="status">
                <figure class="status__avatar--small">
                    <img ng-src="{{currentUser.photo}}" />
                </figure>
            </div>
        </footer>
    </section>
</div>